{% extends '_layout' %}

{% block seo %}
  {% set seo = craft.seo.custom(
    "Submission successful",
    "Thanks for your submission. I'll review it and get it added."
  ) %}
  {{ parent() }}
{% endblock %}

{% set textColour = "#000000" %}

{% block body %}
<main class="flex-grow">

    <article class="pt-10 px-4 w-full md:w-3/4 lg:w-2/3">

        <h1 class="text-3xl font-bold mb-4">That's a good 'un</h1>

        <p class="mb-4">Thanks for your submission 👌 I'll review it and get it added.</p>

        <p class="mb-4">If you provided an email address, I'll drop you a line to let you know it's live.</p>
    
    </article>

</main>
{% endblock %}