<header class="absolute top-0 w-full py-2 px-4 text-white" style="border-color: {{ textColour }}; color: {{ textColour }}">

    <nav class="flex items-center gap-4">
        <div class="grow">
            <a href="/" class="group">
                <span aria-hidden="true">&#60;&#47;&#62;</span>
                <span class="hidden border-b group-hover:inline-block">Home</span>
            </a>
        </div>
        <a href="/why" class="border-b">Why?</a>
        <a href="/leaderboard" class="border-b">Leaderboard</a>
        <a href="/submit" class="border-b">Submit</a>
    </nav>

</header>