{% set title = "About - I know H.T.M.L" %}
{% set textColour = "#000000" %}

{% extends '_layout' %}

{% block body %}
<main class="flex-grow">

    <article class="pt-10 px-4 w-full md:w-3/4 lg:w-2/3">

        <h1 class="text-3xl font-bold mb-4">Submissions</h1>


    
    </article>

</main>
{% endblock %}