{% set title = "About - I know H.T.M.L" %}
{% set textColour = "#000000" %}

{% extends '_layout' %}

{% block body %}
<main class="flex-grow">

    <article class="pt-10 px-4 w-full md:w-3/4 lg:w-2/3">

        <h1 class="text-3xl font-bold mb-4">What the!?..</h1>

        <p class="mb-4">Because the world needs a bit more fun. <a href="https://www.reddit.com/r/Defcon/comments/1ls9kxm/puzzles_for_our_rdefcon_group_puzzle_9/" target="_blank" class="border-b pb-1">Puzzle 9</a> from <a href="https://www.reddit.com/user/MetaN3rd/" target="_blank" class="border-b pb-1">u/MetaN3rd</a> on the r/Defcon subreddit gave me a good excuse to re-watch Silicon Valley (HBO) and I ended up creating some <a href="https://www.reddit.com/r/Defcon/comments/1m3btda/one_of_the_puzzles_inspired_me_to_create_some/" target="_blank" class="border-b pb-1">Erlich inspired stickers</a> for my first time at Defcon.</p>

        <p class="mb-8">The stickers got some good feedback and people started to suggest alternatives. If you've come here from seeing a sticker - welcome! Let your imagine go wild and <a href="/submit" class="border-b pb-1">submit a suggestion</a>.</p>

        <figure class="mb-4 w-full sm:w-2/3">
            <img src="/images/erlich.jpg" alt="Erlich" />
        </figure>
    
    </article>

</main>
{% endblock %}